#main {
    left: 300px;
    height: 100%;
    width: 100%;
}

*{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.form-control{
    border: 1px solid #c5ccd6;
    margin-bottom: 1rem !important;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.btn:active{
    box-shadow: none;
    outline: none;
}

.btn{
	box-shadow: none !important
}

.router{
    padding-left: 350px;
    width: 100vw;
    height: 100vh;
    position: relative;
}


